body {
    font: 400 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #0f4c5c;
}

nav {
    background-color: #57a773;
}

.navbar-logo {
    font-size: 25px;
 }

#tittle {
    margin-top: 10%;
}

img {
    width: 150px;
    height: 150px;
}

.card-btn {
    display: flex;
    color: #885A89;
    border-color: #885A89;
    border-radius: 20px;
    font-size: 90%;
}

.card-btn:hover {
    color: #000;
    background-color: #E08E45;
    border: none;
    border-radius: 20px;
}

.card {
    border-radius: 20px;
}

footer {
    background-color: #57a773;
    align-items: center;
    font-weight: bold;
    padding-top: 1%;
}

footer a {
    text-decoration: none;
    color: #0f4c5c;
    margin-bottom: 1%;
}

footer a:hover{
    color: #885A89;
}
 