body {
    font: 400 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #0f4c5c;
}

nav {
    background-color: #57a773;
}

.navbar-logo {
   font-size: 25px;
}

img {
    width: 140px;
    height: 140px;
}